<div modal="showModal" close="cancel()">
    <div class="modal-header">
        <h4>{{task.name}}</h4>
    </div>
    <div class="modal-body">
            <table class="table table-striped">
               <tr>
                    <td><input type="number" value="1" min="1" max="100" placeholder="Task percentage" class="form-control" ng-model="task.percent" required></td>
               </tr>
			   <tr>
					<td><select ng-model="selectedName" ng-options="item as item.name for item in task.contributors"> </select>
                    </td>
					<td><input type="button" value="Add" class="btn btn-primary" ng-click="addContributor()" style="float:right"></td>
				</tr>
                <tr ng-repeat="contributor in selectedContributors">
                     <td>{{contributor.name}}</td>
                     <td><input type="button" value="Remove" class="btn btn-danger" ng-click="removeContributor($index)" style="float:right"></td>
                </tr>
           </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok()">OK</button>
        <button class="btn" ng-click="cancel()">Close</button>
    </div>    
</div>
