<div modal="showModal" close="cancel()">
    <div class="modal-header">
        <h2>{{task.name}}</h2>
    </div>
    <div class="modal-body">
            <table class="table table-striped">
                <tr>
                   <th>
                       Priority
                   </th>
                   <td colspan="2">
                        <select class="form-control" ng-model="task.priority">
                            <option>Blocker</option>
                            <option>Critical</option>
                            <option>Major</option>
                            <option>Minor</option>
                            <option>Trivial</option>
                        </select>
                   </td>
               </tr>
                <tr>
                   <th>
                       Status
                   </th>
                   <td colspan="2">
                        <select class="form-control" ng-model="task.status">
                            <option>To Do</option>
                            <option>In Progress</option>
                            <option>Verify</option>
                            <option>Done</option>
                        </select>
                   </td>
               </tr>
               <tr>
                   <th colspan="3">Description</th>
               </tr>
               <tr>
                   <td colspan="3">
                   <textarea rows="4" cols="50" ng-model="task.description" class="form-control"></textarea>
                   </td>
               </tr>
               <tr>
                    <th>Percentage</th>
                    <td></td>
                    <td><input type="number" value="1" min="1" max="100" placeholder="Task percentage" class="form-control" ng-model="task.percentage" required></td>
               </tr>
			   <tr>
                   <th colspan="3">
                       Contributor
                   </th>
               </tr>
               <tr>
					<td colspan="3">
                        <select class="form-control" ng-model="task.contributor" ng-options="item as item.name for item in project.contributors"></select>
                    </td>
               </tr>
           </table>
    </div>
    <div class="modal-footer">
        <button class="btn" ng-click="close()">Close</button>
    </div>    
</div>
