<div>
    <nav class="navbar-fluid navbar-inverse navbar-fixed-top navbar">
        <div class="container">
            <a class="navbar-brand" href="#"> Ticketing system</a>
        </div>
    </nav>


    <form class="formAuth" data-ng-controller="authAdminController" ng-submit="login()">
        <div class="alert alert-danger" role="alert" ng-show="error">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{errorMessage}}
        </div>
        <input type="text" ng-model="user.username" placeholder="Username" class="form-control" required><br><br>
        <input type="password" ng-model="user.password" placeholder="Password" class="form-control" required><br>
        <input type="submit" value="Log in" class="btn btn-primary">
    </form>
    
    <div class="col-md-offset-2 col-md-8">
        
    </div>
</div>
