<div class="container" data-ng-controller="userDashboardController">
    <nav class="navbar-fluid navbar-inverse navbar-fixed-top navbar">
        <div class="container">
            <a class="navbar-brand" href="#"> Ticketing system </a>
            <p class="navbar-right navbar-text"><a href ng-click="logout()">Log out</a></p>
        </div>
    </nav>
<div class="jumbotron">	   
    <div >
        <label> Task status: </label> <br>
        <label ng-repeat="st in taskStatus">
            <input type="checkbox" value="{{ st }}" > {{ st + "&nbsp;&nbsp;&nbsp;&nbsp;"}} 
        </label>
        <hr>
        
    <table class='table table-bordered' ng-repeat = "pr in projects">
       <tr ng-model = "pr"> 
           <td ng-click="showTasks($index)"> <b> {{ pr.name }} </b> 
           <input type="button" value="Add task" class="btn btn-primary" style="float:right" 
                  ng-click="addNewTask($index); $event.stopPropagation();"> </td>
       </tr> 
        
      <tr ng-if="testIfVisible($parent.$index)" ng-repeat="task in pr.tasks"> 
           <td> &nbsp; {{ task.taskVersions[task.taskVersions.length-1].title }} 
               <button type="button" class="btn btn-default" style="float:right" ng-click=""> 
                   <span class="glyphicon glyphicon-pencil">
               </button>
               &nbsp;
               <button type="button" class="btn btn-default" style="float:right" ng-click="moreInfo($parent.$index, $index)">
                    <span class="glyphicon glyphicon-option-horizontal"></span>
               </button>
           </td>
      </tr>
    </table>
      
    </div>
</div>
</div>