
<div class="container">
    <nav class="navbar-fluid navbar-inverse navbar-fixed-top navbar">
        <div class="container">
            <a class="navbar-brand" href="#"> Ticketing system</a>
            <p class="navbar-right navbar-text"><a ui-sref = "login">Log out</a></p>
        </div>
    </nav>

    <div ng-controller="userTaskController" >

<div class="jumbotron" ng-repeat="task in task.taskVersions">	

        <table class="table table-condensed"  >
            <tr>
                <th colspan="2"><h2>{{task.name}}</h2></th>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <th>Priority:</th>
                <td>{{task.priority}}</td>
            </tr>
            <tr>
                <th>Status:</th>
                <td>{{task.status}}</td>
            </tr>
            <tr>
                <th colspan="2">Description:</th>
            </tr>
            <tr>
                <td colspan="2">
                    <textarea rows="4" cols="50" ng-model="task.description" class="form-control" readonly></textarea>
                </td>
            </tr>
            <tr>
                <th>Created by:</th>
                <td>{{task.createdBy}}</td>
            </tr>
            <tr>
                <th colspan="2">Contributor:</th>
            </tr>
            <tr>
                <td colspan="2">
                    <table class="table">
                        <tr>
                            <th>Contributor's name</th>
                            <th>Percentage</th>
                        </tr>
                        <tr>
                            <td>{{task.contributor.name}}</td>
                            <td>{{task.percentage}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <th>Comments:</th>
                <td>
                    <input type="button" value="Add" class="btn btn-primary" style="float:right" ng-click="addComment()">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                            <table class="table commentTable" ng-repeat="comment in task.comments">
                                <tr>
                                    <th>{{comment.author}}</th>
                                    <th style="float:right">{{comment.commentDate | date:'dd.MM.yyyy'}}</th>
                                    <td>
                                        <button type="button" class="btn btn-default" style="float:right" ng-click="removeComment($index)"> 
                                            <span class="glyphicon glyphicon-remove">
                                        </button>
                                        &nbsp;
                                        <button type="button" class="btn btn-default" style="float:right" ng-click="modifyComment($index)"> 
                                            <span class="glyphicon glyphicon-pencil">
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan=3>
                                        {{comment.content}}
                                    </td>
                                </tr>
                            </table>
                </td>
            </tr>
        </table>
    </div>
	
</div>
</div>
