<div class="container">
<div class="jumbotron">	
    <nav class="navbar-fluid navbar-inverse navbar-fixed-top navbar">
        <div class="container">
            <a class="navbar-brand" href="#"> Ticketing system </a>
            <p class="navbar-right navbar-text"><a ui-sref = "logout">Log out</a></p>
        </div>
    </nav>
    
    <div data-ng-controller="userDashboardController">
        <label> Task status: </label> <br>
        <label ng-repeat="st in taskStatus">
            <input type="checkbox" value="{{ st }}" > {{ st + "&nbsp;&nbsp;&nbsp;&nbsp;"}} 
        </label>
        <hr>
        
    <table class='table table-bordered' ng-repeat = "pr in projects">
       <tr ng-model = "pr"> 
           <td ng-click = "showTasks($index)"> <b> {{ pr.name }} </b> 
           <input type="button" value="Add task" class="btn btn-primary" style="float:right"> </td>
       </tr> 
        
      <tr ng-if="testIfVisible($parent.$index)" ng-repeat="task in pr.tasks"> 
           <td> &nbsp; {{ task.name }} </td>
      </tr>
    </table>
      
    </div>
</div>
</div>